<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'delete-user'},
      breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Check your answers and delete</title>
</head>

<body>

<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <a class="govuk-back-link"
       th:href="@{/admin/users/audit/entra/{id}/delete(id=${user.userId})}">
        Back
    </a>
</nav>

<main class="govuk-main-wrapper" id="main-content">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Check your answers and delete
            </h1>
        </legend>

        <p class="govuk-body">Deleting a user begins the process of completely removing a user’s account
            information and access. This can take up to 1–2 minutes. The user may still be able
            to access their account during this time .</p>

        <form th:action="@{/admin/users/audit/entra/{id}/delete/confirm(id=${user.userId})}"
              method="post">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        User details
                    </h2>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value"
                                th:text="${user.getEmail()}">
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                First name
                            </dt>
                            <dd class="govuk-summary-list__value"
                                th:text="${user.getFirstName()}">
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Last name
                            </dt>
                            <dd class="govuk-summary-list__value"
                                th:text="${user.getLastName()}">
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>

            <!-- Deletion Reason -->
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Deletion reason
                    </h2>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reason
                            </dt>
                            <dd class="govuk-summary-list__value"
                                th:text="${deleteReason.getLabel()}">
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a th:href="@{/admin/users/audit/entra/{id}/delete(id=${user.userId})}"
                                   class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
                                    Change
                                </a>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>

            <div class="govuk-button-group">
                <button type="submit"
                        class="govuk-button govuk-button--warning"
                        data-module="govuk-button"
                        data-prevent-double-click="true">
                    Confirm and permanently delete user
                </button>
                <button type="button"
                        class="govuk-button govuk-button--secondary"
                        th:onclick="@{/admin/users/audit/entra/{id}(id=${user.userId})}">
                    Cancel
                </button>
            </div>

        </form>
    </fieldset>

</main>

</body>
</html>