<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'bulk-disable-user-reason'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Disable User</title>
</head>

<body>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <a class="govuk-back-link govuk-!-margin-bottom-3"
       th:href="@{/admin/firmDirectory/{id}(id=${firm.id})}">
        Back </a>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <form method="post" th:action="@{/admin/firmDirectory/{id}/reasonForDisable(id=${firm.id})}" th:object="${disableUserReasonsForm}">
        <div th:if="${#fields.hasErrors()}">
            <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                 data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li th:each="error : ${#fields.errors()}">
                            <a href="#reasons" th:text="${error}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="reasons-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Choose a reason for disabling access from all <span th:text="${firm.name}" />
                    </h1>
                </legend>

                <div id="reasons-hint" class="govuk-hint">
                    You are about to remove for <span th:text="${firm.name}" /> user in SiLAS. This action will revoke their access to all LAA Service.
                    Please Select a reason for.
                </div>
                <div id="reasons" class="govuk-form-group govuk-!-padding-top-3"
                     th:classappend="${#fields.hasErrors('reasonId')} ? 'govuk-form-group--error'">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item" th:each="reason : ${reasons}">
                            <input class="govuk-radios__input" type="radio" th:id="${reason.id}" name="reasonId"
                                    th:value="${reason.id}" th:checked="${reason.getId().equals(reasonIdSelected)}">
                            <label class="govuk-label govuk-radios__label" th:for="${reason.id}">
                                <span th:text="${reason.name}"></span>
                            </label>
                            <div class="govuk-hint govuk-radios__hint" th:text="${reason.description}"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button govuk-button--warning">Confirm and disable all users</button>
            <a th:href="@{/admin/firmDirectory/cancel}" class="govuk-link">Cancel</a>
        </div>
    </form>
</main>
</body>

</html>
