<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'edit-role-details-confirmation'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>App Details Updated</title>
</head>

<body>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" th:href="@{'/admin/silas-administration'}">< Back</a>
        </li>
    </ol>
</nav>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <!-- Success Panel -->
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Role details are updated</h1>
                <p>for <span th:text="${appRole.app.name}"></span></p>
            </div>

            <p class="govuk-body">The updated roles and description will be now visible across the application</p>

            <br>

            <!-- Go Back Button -->
            <a class="govuk-button" data-module="govuk-button" th:href="@{'/admin/silas-administration'}">
                Go back to SILAS administration
            </a>

        </div>
    </div>
</main>
</body>

</html>
