<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'edit-role-assignment-restrictions'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit - Role Assignment Restrictions</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" th:href="@{'/admin/silas-administration?tab=role-assignment-restrictions'}">Back</a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div th:if="${#authentication.isAuthenticated()}">
            <form method="post"
                th:action="@{/admin/silas-administration/role/assignRestrictions/{appRoleId}(appRoleId=${appRole.id})}"
                th:object="${rolesForm}" class="govuk-form">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Who can grant the role <span th:text="${appRole.name}"></span>?
                            </h1>
                        </legend>
                        <div id="roles-hint" class="govuk-hint">
                            Select all that apply
                        </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item govuk-!-margin-bottom-3"
                                    th:each="role : ${assigningRoleViewModels}" th:id="'role-' + ${role.id}">
                                    <input class="govuk-checkboxes__input" th:id="'role-input-' + ${role.id}"
                                        name="roles" th:checked="${role.selected}" th:value="${role.id}"
                                        type="checkbox">
                                    <label class="govuk-label govuk-checkboxes__label"
                                        th:for="'role-input-' + ${role.id}">
                                        <span th:text="${role.name}"></span>
                                    </label>
                                    <div class="govuk-hint govuk-checkboxes__hint" th:text="${role.description}">
                                    </div>
                                </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a class="govuk-link" th:href="@{'/admin/silas-administration/cancel/role-assignment-restrictions'}">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
