<header class="moj-header" role="banner" data-module="govuk-header">
    <div class="moj-header__container moj-width-container">
        <div class="moj-header__logo">
            <svg aria-hidden="true" focusable="false"
                 class="moj-header__logotype-crest"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 40 40" width="40" height="40">

                <image th:attr="href=@{/assets/images/moj-apple-touch-icon-167x167-2024.png}"
                       width="40" height="40" />
            </svg>
            <a class="moj-header__link moj-header__link--organisation-name" href="/home">Legal Aid Agency</a>
        </div>

        <div sec:authorize="isAuthenticated()" class="logout">
            <strong><a th:href="@{/home/my-account-details}" style="display: inline;" class="moj-header__link"><span
                    class="govuk-visually-hidden">Open account page for</span><span th:text="${currentUser.name}"></span></a></strong>
            <strong> | </strong>
            <strong><a th:href="@{/logout/confirmation}" style="display: inline;" class="moj-header__link"><span>Sign
                out</span></a></strong>
        </div>
    </div>
</header>
