<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>User Details</title>
</head>

<body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/users">
                    < Back</a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    User details
                </h1>
            </legend>
            <form th:action="@{/user/create/details}" th:method="post">
                <div class="govuk-!-margin-bottom-3">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m govuk-!-width-one-third" for="firmName">
                            Firm Name
                        </label>
                        <select class="govuk-select" id="firm" name="firm">
                            <div th:each="firm : ${firms}">
                                <option th:value="${firm.id}" th:text="${firm.name}"
                                    th:selected="${firm.name == selectedFirmName}"></option>
                            </div>
                        </select>
                        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-top-3"
                            data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="firmAdmin" name="firmAdmin" type="checkbox"
                                    value="true" th:checked="*{isFirmAdmin}" />
                                <label class="govuk-label govuk-checkboxes__label" for="firmAdmin">
                                    Firm Admin
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="email">
                        Email Address
                    </label>
                    <p class="govuk-hint">
                        Please ensure the email address you provide is accurate.
                    </p>
                    <input class="govuk-input govuk-!-width-one-third" name="email" type="email" th:value="*{user.mail}"
                        id="email" />
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="firstName">
                        First Name
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" name="firstName" type="text"
                        th:value="*{user.givenName}" id="firstName" />
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="lastName">
                        Last Name
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" name="lastName" type="text"
                        th:value="*{user.surname}" id="lastName" />
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a href="/home" class="govuk-link">Cancel</a>
                </div>
            </form>
        </fieldset>
    </main>
</body>

</html>