<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<!--
    Generic pagination component for list pages.

    Parameters:
      basePath                - target endpoint path (e.g. '/admin/users')
      page                    - current page number
      totalPages              - total number of pages
      requestedPageSize       - selected page size
      search                  - current search term
      sort                    - current sort field
      direction               - current sort direction
      usertype                - users page filter
      showFirmAdmins          - users page filter
      showMultiFirmUsers      - users page filter
      showProviderUsers       - users page filter
      selectedStatuses        - users page filter
      selectedUserTypes       - reactivation page filter
      selectedRequestStatuses - reactivation page filter
      defaultStatusApplied    - reactivation page marker
-->
<th:block th:fragment="genericPagination(basePath, page, totalPages, requestedPageSize, search, sort, direction, usertype, showFirmAdmins, showMultiFirmUsers, showProviderUsers, selectedStatuses, selectedUserTypes, selectedRequestStatuses, defaultStatusApplied)">
    <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev" th:if="${page > 1}">
            <a class="govuk-link govuk-pagination__link"
               th:href="@{__${basePath}__(size=${requestedPageSize}, page=${page - 1}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
               rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                     height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path
                        d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                    </path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
            </a>
        </div>

        <ul class="govuk-pagination__list">
            <!-- First page -->
            <li class="govuk-pagination__item" th:if="${totalPages > 0}"
                th:classappend="${page == 1 ? 'govuk-pagination__item--current' : ''}">
                <a class="govuk-link govuk-pagination__link" th:if="${page != 1}"
                         th:href="@{__${basePath}__(size=${requestedPageSize}, page=1, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                   th:aria-label="'Page 1'">1</a>
                <a class="govuk-link govuk-pagination__link" th:if="${page == 1}"
                         th:href="@{__${basePath}__(size=${requestedPageSize}, page=1, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                   th:aria-label="'Page 1'" aria-current="page">1</a>
            </li>

            <!-- Left ellipses if needed -->
            <li class="govuk-pagination__item govuk-pagination__item--ellipses" th:if="${page > 4}">
                &ctdot;
            </li>

            <!-- Pages around current page -->
            <th:block
                th:each="i : ${#numbers.sequence(T(java.lang.Math).max(2, page - 2), T(java.lang.Math).min(totalPages - 1, page + 2))}">
                <li class="govuk-pagination__item" th:if="${i > 1 and i < totalPages}"
                    th:classappend="${i == page ? 'govuk-pagination__item--current' : ''}">
                    <a class="govuk-link govuk-pagination__link" th:if="${i != page}"
                              th:href="@{__${basePath}__(size=${requestedPageSize}, page=${i}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                       th:aria-label="'Page ' + ${i}" th:text="${i}"></a>
                    <a class="govuk-link govuk-pagination__link" th:if="${i == page}"
                              th:href="@{__${basePath}__(size=${requestedPageSize}, page=${i}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                       th:aria-label="'Page ' + ${i}" aria-current="page" th:text="${i}"></a>
                </li>
            </th:block>

            <!-- Right ellipses if needed -->
            <li class="govuk-pagination__item govuk-pagination__item--ellipses" th:if="${page < totalPages - 3}">
                &ctdot;
            </li>

            <!-- Last page -->
            <li class="govuk-pagination__item" th:if="${totalPages > 1}"
                th:classappend="${page == totalPages ? 'govuk-pagination__item--current' : ''}">
                <a class="govuk-link govuk-pagination__link" th:if="${page != totalPages}"
                   th:href="@{__${basePath}__(size=${requestedPageSize}, page=${totalPages}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                   th:aria-label="'Page ' + ${totalPages}" th:text="${totalPages}"></a>
                <a class="govuk-link govuk-pagination__link" th:if="${page == totalPages}"
                   th:href="@{__${basePath}__(size=${requestedPageSize}, page=${totalPages}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
                   th:aria-label="'Page ' + ${totalPages}" aria-current="page" th:text="${totalPages}"></a>
            </li>
        </ul>

        <div class="govuk-pagination__next" th:if="${page < totalPages}">
            <a class="govuk-link govuk-pagination__link"
               th:href="@{__${basePath}__(size=${requestedPageSize}, page=${page + 1}, search=${search}, sort=${sort}, direction=${direction}, usertype=${usertype}, showFirmAdmins=${showFirmAdmins}, showMultiFirmUsers=${showMultiFirmUsers}, showProviderUsers=${showProviderUsers}, selectedStatuses=${selectedStatuses}, selectedUserTypes=${selectedUserTypes}, selectedRequestStatuses=${selectedRequestStatuses}, defaultStatusApplied=${defaultStatusApplied})}"
               rel="next">
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                     height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path
                        d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                    </path>
                </svg>
            </a>
        </div>
    </nav>
</th:block>

</body>
</html>
