<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User created - LAA Manage user access</title>
    <link rel="stylesheet" href="/static/assets/css/govuk-frontend.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
</head>

<body>
    <main class="govuk-main-wrapper govuk-width-container" id="main-content">
        <div class="govuk-!-width-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">User created</h1>
                <div class="govuk-panel__body">
                    A letter containing a code will be posted to the address provided
                    <br>
                    for
                    <br>
                    <span class="govuk-!-font-weight-bold" th:text="${user.firstName}"></span> <span
                        class="govuk-!-font-weight-bold" th:text="${user.lastName}"></span>
                </div>
            </div>
            <h2 class=" govuk-heading-m govuk-!-padding-top-3">What happens next</h2>
            <p class="govuk-body govuk-!-padding-top-3">The user needs to be verified for the account to be set up.
            </p>
            <p class="govuk-body govuk-!-padding-top-3">A code will be sent via Royal Mail postage to the provided
                address
                to
                set up their
                account with instructions.
            </p>
            <p class="govuk-body govuk-!-padding-top-3">This should take 2 working business days to retrieve.</p>
            <form class="govuk-!-padding-top-6" th:action=" @{/admin/users}" method="get">
                <button class="govuk-button govuk-button--primary" type="submit">Continue</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{partials/footer :: footer}"></footer>
</body>

</html>