<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'register'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Login Page</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/admin/user/create/firm">
                    < Back</a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-l">
                    Check your answers and confirm
                </h1>
                <form th:action="@{/admin/user/create/check-answers}" th:method="post">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                User details
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Email</dt>
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${user.email}"></span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/admin/user/create/details">Change</a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">First name</dt>
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${user.firstName}"></span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/admin/user/create/details">Change</a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Last name</dt>
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${user.lastName}"></span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/admin/user/create/details">Change</a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">User type</dt>
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${userType.friendlyName}"></span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/admin/user/create/details">Change</a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Firm</dt>
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${firm.name}"></span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/admin/user/create/firm">Change</a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">Create new user</h2>
                    <p class="govuk-body">When you confirm, this user will be created and they will be sent an email invitation to complete their account setup.
                    </p>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button">Confirm</button>
                        <a href="/admin/user/create/cancel" class="govuk-link">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </main>
</body>

</html>