<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Allow multi-firm access</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" href="/admin/user/create/details">
            Back</a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form th:action="@{/admin/user/create/multi-firm}" th:method="post" th:object="${multiFirmForm}">
                    <div th:if="${#fields.hasErrors()}">
                        <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                            aria-describedby="error-summary-description" data-module="govuk-error-summary">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body" id="error-summary-description">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li th:each="err : ${#fields.errors('isMultiFirmUser')}"
                                        th:if="${#fields.hasErrors('isMultiFirmUser')}">
                                        <a href="#multiFirmYes" th:text="${err}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-form-group"
                        th:classappend="${#fields.hasErrors('isMultiFirmUser')} ? 'govuk-form-group--error'">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Allow multi-firm access
                                </h1>
                            </legend>
                            <div class="govuk-hint">
                                This would be relevant to a user who will work on behalf of different legal firms, like
                                a cost draftsperson. You
                                won't need to select a specific firm to associate them with.
                            </div>

                            <div th:if="${#fields.hasErrors('isMultiFirmUser')}" class="govuk-error-message">
                                <p th:each="err : ${#fields.errors('isMultiFirmUser')}" th:text="${err}"></p>
                            </div>

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading">
                                            Will this user require access to multiple firms?
                                        </h2>
                                    </legend>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="multiFirmYes" type="radio"
                                                th:field="*{isMultiFirmUser}" th:value="true">
                                            <label class="govuk-label govuk-radios__label" for="multiFirmYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="multiFirmNo" type="radio"
                                                th:field="*{isMultiFirmUser}" th:value="false">
                                            <label class="govuk-label govuk-radios__label" for="multiFirmNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button">Continue</button>
                        <a href="/admin/user/create/cancel" class="govuk-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>