<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>User Details</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" href="/admin/users">
            Back</a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Add user details
                </h1>
            </legend>
            <form th:action="@{/admin/user/create/details}" th:method="post" th:object="${userDetailsForm}">
                <div th:if="${#fields.hasErrors()}">
                    <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                        aria-describedby="error-summary-description" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body" id="error-summary-description">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li th:each="err : ${#fields.errors('email')}" th:if="${#fields.hasErrors('email')}">
                                    <a href="#email" th:text="${err}"></a>
                                </li>
                                <li th:each="err : ${#fields.errors('firstName')}"
                                    th:if="${#fields.hasErrors('firstName')}">
                                    <a href="#firstName" th:text="${err}"></a>
                                </li>
                                <li th:each="err : ${#fields.errors('lastName')}"
                                    th:if="${#fields.hasErrors('lastName')}">
                                    <a href="#lastName" th:text="${err}"></a>
                                </li>
                                <li th:each="err : ${#fields.errors('userManager')}"
                                    th:if="${#fields.hasErrors('userManager')}">
                                    <a href="#userManager" th:text="${err}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group"
                    th:classappend="${#fields.hasErrors('email')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-label--m" for="email">
                        Email
                    </label>
                    <div th:if="${#fields.hasErrors('email')}" class="govuk-error-message">
                        <p id="email-error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                    </div>
                    <input class="govuk-input govuk-!-width-one-third" name="email" th:value="*{email}" id="email"
                        th:aria-describedby="${#fields.hasErrors('email')} ? 'email-error' : null" />
                </div>

                <div class="govuk-form-group"
                    th:classappend="${#fields.hasErrors('firstName')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-label--m" for="firstName">
                        First name
                    </label>
                    <div th:if="${#fields.hasErrors('firstName')}" class="govuk-error-message">
                        <p id="firstName-error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>
                    </div>
                    <input class="govuk-input govuk-!-width-one-third" name="firstName" type="text"
                        th:value="*{firstName}" id="firstName"
                        th:aria-describedby="${#fields.hasErrors('firstName')} ? 'firstName-error' : null" />
                </div>
                <div class="govuk-form-group"
                    th:classappend="${#fields.hasErrors('lastName')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-label--m" for="lastName">
                        Last name
                    </label>
                    <div th:if="${#fields.hasErrors('lastName')}" class="govuk-error-message">
                        <p id="lastName-error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                    </div>
                    <input class="govuk-input govuk-!-width-one-third" name="lastName" type="text"
                        th:value="*{lastName}" id="lastName"
                        th:aria-describedby="${#fields.hasErrors('lastName')} ? 'lastName-error' : null" />
                </div>
                <div class="govuk-form-group"
                    th:classappend="${#fields.hasErrors('userManager')} ? 'govuk-form-group--error'">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Does this user need provider admin access?
                        </legend>
                        <div th:if="${#fields.hasErrors('userManager')}" class="govuk-error-message">
                            <p th:each="err : ${#fields.errors('userManager')}" th:text="${err}"></p>
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="providerUser" type="radio"
                                    th:field="*{userManager}" th:value="false">
                                <label class="govuk-label govuk-radios__label" for="providerUser">
                                    No
                                </label>
                                <div id="providerUser-hint" class="govuk-hint govuk-radios__hint">
                                    They will only use LAA services that are assigned to them.
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="providerAdmin" type="radio"
                                    th:field="*{userManager}" th:value="true">
                                <label class="govuk-label govuk-radios__label" for="providerAdmin">
                                    Yes
                                </label>
                                <div id="providerAdmin-hint" class="govuk-hint govuk-radios__hint">
                                    They will need to assign services to providers.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a th:href="@{cancel/confirmation}" class="govuk-link">Cancel</a>
                </div>
            </form>
        </fieldset>
    </main>
</body>

</html>
