<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'before-you-start'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Before you start</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" href="/admin/users">Back</a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Before you start</h1>

                <h2 class="govuk-heading-m">Delegate access</h2>

                <p class="govuk-body">
                    This form allows you to invite an external user to log into the LAA Portal and
                    view your firm information. Depending on the permissions you set, it will allow
                    them to access and perform actions in Portal applications such as CWA &amp; CCMS.
                </p>

                <p class="govuk-body">Continue this process if you want to invite:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>A costs draftsperson</li>
                    <li>A barrister or barristers Clerk</li>
                </ul>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Not for Firm Staff
                    </strong>
                </div>

                <p class="govuk-body">
                    <strong>
                        This is for inviting guests only. If you are looking to create an account for member of
                        your provider form, who does not need access to multiple provider firms, instead used
                        the 'Create user' link found on the User Management screen.
                    </strong>
                </p>

                <details class="govuk-details govuk-!-margin-top-6">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Further guidance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Further guidance
                    </div>
                </details>

                <a href="/admin/multi-firm/user/add/profile" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>
        </div>
    </main>
</body>

</html>