<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User created - LAA Manage user access</title>
    <link rel="stylesheet" href="/static/assets/css/govuk-frontend.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
</head>

<body>
    <main class="govuk-main-wrapper govuk-width-container" id="main-content">
        <div class="govuk-!-width-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">User created</h1>
                <div class="govuk-panel__body">
                    <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> has been added
                </div>
            </div>
            <h2 class="govuk-heading-m govuk-!-padding-top-3">What happens next</h2>

            <div th:if="${userProfile != null}">
                <p class="govuk-body">You can:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li><a th:href="@{'/admin/users/grant-access/' + ${userProfile.id}} + '/apps'"
                            class="govuk-link">add user permissions and offices</a></li>
                    <li><a href="/admin/user/create/details" class="govuk-link">create another new user</a></li>
                </ul>
            </div>
            <div th:if="${userProfile == null}">
                <p class="govuk-body" th:if="${enableMultiFirmUser && isMultiFirmUser}">This multi-firm user has been
                    created without an initial firm profile. They will be able to request access to firms as needed.</p>

                <p class="govuk-body">You can:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li><a th:href="@{'/admin/users/grant-access/' + ${userProfile.id}} + '/apps'"
                            class="govuk-link">add user permissions
                            and offices</a></li>
                    <li><a href="/admin/user/create/details" class="govuk-link">create another new user for this
                            firm</a></li>
                </ul>
            </div>
            <form class="govuk-!-padding-top-6" th:action="@{/admin/users}" method="get">
                <button class="govuk-button govuk-button--primary" type="submit">Go back to manage your users</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{partials/footer :: footer}"></footer>
</body>

</html>