<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'manage-access'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>${pageTitle}</title>
</head>

<body>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <a class="govuk-back-link govuk-!-margin-bottom-3"
       th:href="@{/admin/users/manage/{id}(id=${profileId})}">
        Back </a>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <div th:if="${errorMessage}">
                <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                     aria-describedby="error-summary-description" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body" id="error-summary-description">
                        <ul th:if="${errorMessage}" class="govuk-list govuk-error-summary__list">
                            <li><a href="#comment" th:text="${errorMessage}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <h1 class="govuk-heading-l">
                <span th:text="'Record rejection reason'">[[Record rejection reason]]</span>
            </h1>

            <p class="govuk-body">Provide detail about why you are rejecting the reactivation request.</p>

            <p class="govuk-body">Rejected requests cannot be reopened. If the user's circumstances change in future,
            they can ask their provider admin to submit a new reactivation request.</p>

            <form method="post"
                  th:action="@{/admin/user/delegate-reactivate/reject/{id}(id=${user.id}, profileId=${profileId}, requestId=${requestId})}"
                  th:object="${delegateReactivateUserCommentForm}">

                <!-- Comments Field -->
                <div class="govuk-form-group govuk-!-width-full"
                     th:classappend="${#fields.hasErrors('comment')} ? 'govuk-form-group--error'"
                     id="comment-group">

                    <label class="govuk-label govuk-label--m" for="comment">
                        Please enter a comment (minimum 10 characters).
                    </label>

                    <textarea class="govuk-textarea govuk-!-margin-bottom-0"
                              id="comment"
                              name="comment"
                              th:field="*{comment}"
                              rows="4"></textarea>

                    <p class="govuk-hint govuk-!-margin-top-0">You can enter up to 500 characters.</p>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                        Reject request
                    </button>
                    <a class="govuk-button govuk-button--secondary"
                       th:href="${cancelPath}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</main>
</body>

</html>
