<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'manage-access'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>${pageTitle}</title>
</head>

<body>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <a class="govuk-back-link govuk-!-margin-bottom-3"
       th:href="${cancelPath != null ? cancelPath : '/admin/users/manage/' + profileId}">
        Back </a>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <div th:if="${errorMessage}">
                <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                     aria-describedby="error-summary-description" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body" id="error-summary-description">
                        <ul th:if="${errorMessage}" class="govuk-list govuk-error-summary__list">
                            <li><a href="#comment" th:text="${errorMessage}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l" th:text="'Reactivation request'">Reactivation request</span>
                <span th:text="${user.fullName}">[[User Full Name]]</span>
                <span th:if="${requestCurrentStatus.name() == 'IN_REVIEW'}" class="govuk-tag govuk-tag--yellow" th:text="${requestCurrentStatus.label}"></span>
                <span th:if="${requestCurrentStatus.name() == 'INFORMATION_REQUIRED'}" class="govuk-tag govuk-tag--blue" style="min-width: 200px" th:text="${requestCurrentStatus.label}"></span>
                <span th:if="${requestCurrentStatus.name() == 'APPROVED'}" class="govuk-tag govuk-tag--green" th:text="${requestCurrentStatus.label}"></span>
                <span th:if="${requestCurrentStatus.name() == 'REJECTED'}" class="govuk-tag govuk-tag--red" th:text="${requestCurrentStatus.label}"></span>
            </h1>

            <h2 class="govuk-heading-m" th:text="'Review evidence'">
                Review evidence
            </h2>

            <p class="govuk-body">If required, you can respond to the request and ask for more information.</p>

            <div class="govuk-inset-text" th:each="req, iterStat : ${reactivationRequests}">
                <h2 class="govuk-heading-s" th:text="${req.actorRoleType().getLabelForUi(req.actorName())}">
                    User Full Name (Role Name)
                </h2>
                <p class="govuk-body" th:text="${req.formattedCreatedAt()}">
                    Date
                </p>
                <p class="govuk-body" th:text="${req.comments()}">
                    Comments
                </p>
            </div>

            <form method="post"
                  th:action="@{/admin/user/delegate-reactivate/track/{id}(id=${user.id}, profileId=${profileId}, referer=${referer}, requestId=${requestId})}"
                  th:object="${delegateReactivateUserCommentForm}">

                <!-- Comments Field -->
                <div class="govuk-form-group govuk-!-width-full"
                     th:classappend="${#fields.hasErrors('comment')} ? 'govuk-form-group--error'"
                     id="comment-group">

                    <label class="govuk-label govuk-label--m" for="comment">
                        Please enter a comment (minimum 10 characters).
                    </label>

                    <textarea class="govuk-textarea govuk-!-margin-bottom-0"
                              id="comment"
                              name="comment"
                              th:field="*{comment}"
                              rows="4"></textarea>

                    <p class="govuk-hint govuk-!-margin-top-0">You can enter up to 500 characters.</p>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Submit
                    </button>
                    <a class="govuk-button govuk-button--secondary"
                       th:href="${cancelPath}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row" th:if="${canActionDelegateEnableUser}">
        <form method="post"
              th:action="@{/admin/user/delegate-reactivate/approve/{id}(id=${user.id}, profileId=${profileId}, referer=${referer}, requestId=${requestId})}">
            <div class="govuk-grid-column-three-quarters">

                <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-9"
                     style="border: 1px solid #b1b4b6;"></div>

                <h1 class="govuk-heading-l">
                    <span th:text="'Record a decision'">Record a decision</span>
                </h1>

                <p class="govuk-body">This action closes the request, and nobody can make any further comments.</p>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Approve
                    </button>
                    <a class="govuk-button govuk-button--warning"
                       th:href="@{/admin/user/delegate-reactivate/reject/{id}(id=${user.id}, profileId=${profileId}, referer=${referer}, requestId=${requestId})}">
                        Reject</a>
                </div>
            </div>
        </form>
    </div>
</main>
</body>

</html>
