<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'edit-user'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Edit - User Details</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" th:href="@{'/admin/users/manage/' + ${user.id}}">
            Back </a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    User details - Check your answers and confirm
                </h1>
            </legend>
            <form th:action="@{/admin/users/edit/{id}/details(id=${id})}" th:method="post"
                th:object="${editUserDetailsForm}" class="govuk-form">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="email">
                        Email address
                    </label>
                    <p class="govuk-hint">
                        Email address can not be edited.
                    </p>
                    <input class="govuk-input govuk-!-width-one-third" name="email" th:value="*{email}" id="email" readonly
                        style="background-color: #f3f2f1; color: #505a5f; cursor: not-allowed;" />
                </div>
                <div class="govuk-form-group"
                    th:classappend="${#fields.hasErrors('firstName')} ? 'govuk-form-group--error'">
                    <label class="govuk-label govuk-label--m" for="firstName">
                        First name
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" name="firstName" type="text"
                        th:value="*{firstName}" id="firstName" readonly />
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="lastName">
                        Last name
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" name="lastName" type="text"
                        th:value="*{lastName}" id="lastName" readonly />
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Confirm</button>
                    <a th:href="@{'/admin/users/edit/' + ${user.id} + '/cancel'}" class="govuk-link">Cancel</a>
                </div>
            </form>
        </fieldset>
    </main>
</body>

</html>