<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'edit-user'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Edit - Services</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link" th:href="@{/admin/users/edit/{id}/cancel(id=${user.id})}">
            Back </a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <form method="post" th:action="@{/admin/users/edit/{id}/apps(id=${user.id})}" th:object="${applicationsForm}">
            <div th:if="${errorMessage}">
                <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                     aria-describedby="error-summary-description" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body" id="error-summary-description">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a href="#" th:text="${errorMessage}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which of these services will <span th:text="${user.fullName}"></span> need access?
                        </h1>
                    </legend>
                    <div id="offices-hint" class="govuk-hint">
                        Select all that apply
                    </div>
                    <div class="govuk-checkboxes govuk-!-padding-top-3" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item" th:each="app : ${apps}">
                            <input class="govuk-checkboxes__input" id="apps" name="apps" th:checked="${app.selected}"
                                th:value="${app.id}" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" th:for="${app.id}">
                                <span th:text="${app.name}"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Continue</button>
                <a th:href="@{cancel/confirmation}" class="govuk-link">Cancel</a>
            </div>
        </form>
    </main>
</body>

</html>
