<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'edit-user'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Edit - Roles</title>
</head>

<body>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <a class="govuk-back-link" th:href="${backUrl}">
        Back </a>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <form method="post" th:action="@{/admin/users/edit/{id}/roles-check-answer(id=${user.id})}">
        <h1 class="govuk-heading-l">
            Check your answers and confirm
        </h1>
        <div th:if="${errorMessage}">
            <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                 aria-describedby="error-summary-description" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body" id="error-summary-description">
                    <ul th:if="${errorMessage}" class="govuk-list govuk-error-summary__list">
                        <li><a href="#" th:text="${errorMessage}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    User Roles
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list" th:if="${selectedAppRole != null and !selectedAppRole.isEmpty()}">
                    <div th:each="appRole : ${selectedAppRole}" class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                            <span th:text="${appRole.getRoleName()}"></span>
                            (<span th:text="${appRole.getAppName()}"></span>)
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a th:href="${appRole.getUrl()}" class="govuk-link">
                                Change
                                <span class="govuk-visually-hidden"> app roles</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <div class="govuk-summary-list" th:if="${(selectedAppRole == null or selectedAppRole.isEmpty())}">
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                            <span>No role assigned</span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a th:href="@{/admin/users/edit/{id}/apps(id=${user.id})}" class="govuk-link">
                                Change
                                <span class="govuk-visually-hidden"> role</span>
                            </a>
                        </dd>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="govuk-heading-m">Edit user roles</h2>
        <p class="govuk-body">When you confirm, this user role will be updated.
        </p>
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button">Confirm</button>
            <a th:href="@{/admin/users/edit/{id}/cancel/confirmation(id=${user.id})}" class="govuk-link">Cancel</a>
        </div>
    </form>
</main>
</body>

</html>
