<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'grant-access'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Access Granted</title>
</head>

<body>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-!-width-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    User detail updated
                </h1>
                <div class="govuk-panel__body">
                    for <span th:text="${user.fullName}"></span>
                </div>
            </div>

            <h2 class="govuk-heading-m">Next steps</h2>

            <p class="govuk-body">Contact the user and tell them that their detail have been updated.</p>

            <div class="govuk-!-padding-top-6">
                <a th:href="@{/admin/users}" class="govuk-button" data-module="govuk-button">Go back to manage your users</a>
            </div>
        </div>
    </main>
</body>

</html>