<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'register'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activate User Access</title>
</head>
<body>
<main class="govuk-main-wrapper" id="main-content">

    <a class="govuk-back-link" th:href="${cancelPath}">Back</a>

    <h1 class="govuk-heading-l">
        Reactivate <span th:text="${user.fullName}"></span>
    </h1>

    <div class="govuk-warning-text" th:if="${isInternalActor}">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            This form will immediately reactivate the user.
        </strong>
    </div>

    <p class="govuk-body">
        You can reactivate this user directly. When you reactivate <span th:text="${user.fullName}"></span>, they will regain access to their SiLAS account.
    </p>
    <p class="govuk-body">
        You do not need to submit a reactivation request.
    </p>

    <div th:if="${isInternalActor}">
        <p class="govuk-body">You should only do this when:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the provider admin has lost access and cannot request this themselves</li>
            <li>there is only one provider admin at the firm</li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    The person requesting reactivation doesn't meet these criteria
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">If the person requesting reactivation does not meet these criteria, ask another provider admin at the firm to submit the request, or ask the deactivated user's provider admin to submit a reactivation request themselves.</p>
            </div>
        </details>
    </div>

    <!-- nosemgrep -->
    <form th:action="@{/admin/users/manage/{id}/activate(id=${user.id}, referer=${referer})}" method="post"
          style="display: inline;">
        <div class="moj-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Reactivate user
            </button>
            <a class="govuk-link" th:href="${cancelPath}">Cancel</a>
        </div>
    </form>
</main>
</body>
</html>
