<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'register'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enable User Access</title>
</head>
<body>
<main class="govuk-main-wrapper" id="main-content">

    <a class="govuk-back-link" th:href="@{/templates/home}">Back</a>

    <h1 class="govuk-heading-l">
        Reactivate <span th:text="${user.fullName}"></span>
    </h1>
    <p class="govuk-body">
        You can reactivate this user directly. When you reactivate <span th:text="${user.fullName}"></span>, they will regain access to their SiLAS account.
    </p>
    <p class="govuk-body">
        You do not need to submit a reactivation request.
    </p>
    <!-- nosemgrep -->
    <form th:action="@{/admin/users/manage/{id}/enable(id=${user.id}, referer=${referer})}" method="post" style="display: inline;">
        <div class="moj-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Reactivate user
            </button>
            <a class="govuk-link" th:href="${cancelPath}">Cancel</a>
        </div>
    </form>
</main>
</body>
</html>
