<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'error'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>ERROR</title>
</head>

<body>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">Try again later.</p>
                    <p class="govuk-body">
                        To enable the LAA to investigate the issue, please can you contact our online support team.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row" th:if="${error == 'Not Found'}">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        Page not found
                    </h1>
                    <p class="govuk-body">
                        If you typed the web address, check it is correct.
                    </p>
                    <p class="govuk-body">
                        If you pasted the web address, check you copied the entire address.
                    </p>
                    <p class="govuk-body">
                        If the web address is correct, or you selected a link or button, contact our online support team
                        if
                        you need to speak to someone.
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>

</html>