<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'manage-access'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Manage Access - Check Your Answers</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <a class="govuk-back-link govuk-!-margin-bottom-3"
            th:href="@{/admin/users/grant-access/{id}/offices(id=${user.id})}">
            Back</a>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">
                    Check your answers and confirm
                </h1>
                <form th:action="@{/admin/users/grant-access/{id}/check-answers(id=${user.id})}" th:method="post">

                    <!-- User permissions section -->
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                User permissions
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list"
                                th:if="${groupedAppRoles != null and !groupedAppRoles.isEmpty()}">
                                <th:block th:each="appEntry : ${groupedAppRoles}">
                                    <div th:each="appRole, iterStat : ${appEntry.value}"
                                        class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key"
                                            th:text="${iterStat.first ? appEntry.key : ''}">App Name</dt>
                                        <dd class="govuk-summary-list__value" th:text="${appRole.name}">Role Name</dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link"
                                                th:href="@{/admin/users/grant-access/{id}/apps(id=${user.id})}">Change</a>
                                        </dd>
                                    </div>
                                </th:block>
                            </dl>
                            <div th:if="${groupedAppRoles == null or groupedAppRoles.isEmpty()}"
                                class="govuk-inset-text">
                                No user permissions assigned
                            </div>
                        </div>
                    </div>

                    <!-- Offices section -->
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Offices
                            </h2>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link"
                                        th:href="@{/admin/users/grant-access/{id}/offices(id=${user.id})}">Change</a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list" th:if="${userOffices != null and !userOffices.isEmpty()}">
                                <div th:each="office : ${userOffices}" class="govuk-summary-list__row">
                                    <dd class="govuk-summary-list__value">
                                        <span th:text="${office.address.formattedAddress}"></span>
                                        (<span th:text="${office.code}"></span>)
                                    </dd>
                                    <dt class="govuk-summary-list__key govuk-visually-hidden"></dt>
                                </div>
                            </dl>
                            <div th:if="${(userOffices == null or userOffices.isEmpty()) and externalUser and hasAllOffices}"
                                class="govuk-inset-text">
                                Access to All Offices
                            </div>
                            <div th:if="${(userOffices == null or userOffices.isEmpty()) and externalUser and hasNoOffices}"
                                 class="govuk-inset-text">
                                No Office Access
                            </div>
                            <div th:if="${(userOffices == null or userOffices.isEmpty()) and !externalUser}"
                                class="govuk-inset-text">
                                No offices assigned
                            </div>
                        </div>
                    </div>

                    <!-- Confirm access -->
                    <h2 class="govuk-heading-m">Confirm access</h2>
                    <p class="govuk-body">
                        When you confirm, the user will get access to the chosen services and their offices will be
                        assigned.
                    </p>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Confirm
                        </button>
                        <a th:href="@{/admin/users/grant-access/{id}/cancel(id=${user.id})}"
                            class="govuk-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
