<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'register'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Grant Access - Check Your Answers</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" th:href="@{'/admin/users/manage/' + ${user.id}}">
                    < Back to user</a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <a class="govuk-back-link govuk-!-margin-bottom-3"
            th:href="@{/admin/users/grant-access/{id}/offices(id=${user.id})}">
            Back
        </a>
        
        <h1 class="govuk-heading-xl">Check your answers</h1>
        
        <!-- Services and responsibilities section -->
        <h2 class="govuk-heading-m">Services and responsibilities</h2>
        
        <div class="govuk-summary-list" th:if="${userAppRoles != null and !userAppRoles.isEmpty()}">
            <div th:each="appRole : ${userAppRoles}" class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="${appRole.app.name}">
                    App Name
                </dt>
                <dd class="govuk-summary-list__value" th:text="${appRole.name}">
                    Role Name
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" th:href="@{/admin/users/grant-access/{id}/roles(id=${user.id})}">
                        Edit<span class="govuk-visually-hidden"> services and responsibilities</span>
                    </a>
                </dd>
            </div>
        </div>
        
        <div th:if="${userAppRoles == null or userAppRoles.isEmpty()}" class="govuk-inset-text">
            No services and responsibilities assigned
        </div>

        <!-- Offices section -->
        <h2 class="govuk-heading-m">Offices</h2>
        
        <div class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Assigned offices
                </dt>
                <dd class="govuk-summary-list__value">
                    <div th:if="${userOffices != null and !userOffices.isEmpty()}">
                        <div th:each="office : ${userOffices}">
                            <span th:text="${office.name}"></span><br>
                            <span class="govuk-body-s govuk-!-font-weight-regular" th:text="${office.address}"></span>
                        </div>
                    </div>
                    <div th:if="${userOffices == null or userOffices.isEmpty()}" class="govuk-inset-text">
                        No offices assigned
                    </div>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" th:href="@{/admin/users/grant-access/{id}/offices(id=${user.id})}">
                        Manage<span class="govuk-visually-hidden"> offices</span>
                    </a>
                </dd>
            </div>
        </div>

        <!-- Confirm user access grant -->
        <h2 class="govuk-heading-m">Confirm access grant</h2>
        
        <p class="govuk-body">
            By submitting this, you confirm that you would like to grant access to <span th:text="${user.fullName}"></span> 
            with the services, responsibilities and offices shown above.
        </p>

        <form method="post" th:action="@{/admin/users/grant-access/{id}/check-answers(id=${user.id})}">
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button govuk-button--success" data-module="govuk-button">
                    Create and send
                </button>
                <a th:href="@{'/admin/users/manage/' + ${user.id}}" class="govuk-link">Cancel</a>
            </div>
        </form>
    </main>
</body>

</html>
