<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'home'},
      breadcrumbs=~{::#breadcrumbs},
      feedback=~{::#feedback})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
</head>

<body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <div class="govuk-phase-banner" id="feedback">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by
                    email</a>.
            </span>
        </p>
    </div>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/home">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/users" th:text="${user.displayName}"></a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">
                    <div th:text="${user.displayName}"></div>
                </h1>
            </div>
    </main>
    </div>
</body>

</html>