<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'home'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
</head>

<body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/admin/users">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" aria-label="${user.fullName}"><span
                        th:text="${user.fullName}"></span></a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="moj-page-header-actions">
                    <div class="moj-page-header-actions__title">
                        <p class="govuk-heading-xl" th:text="${user.fullName}"></p>
                    </div>
                </div>
                <div id="event-name-hint" class="govuk-hint">
                    Last logged in <span th:text="${user.lastLoggedIn}"></span>
                </div>
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#user-details">
                                User details
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#services">
                                Services
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#offices">
                                Offices
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="user-details">
                        <h2 class="govuk-heading-m">User Details</h2>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    User details
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link"
                                            th:href="@{'/admin/users/edit/' + ${user.id} + '/details'}">Edit</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Email
                                        </dt>
                                        <dd class="govuk-summary-list__value" th:text="${user.email}">
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            First Name
                                        </dt>
                                        <dd class="govuk-summary-list__value" th:text="${user.firstName}"></dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Last Name
                                        </dt>
                                        <dd class="govuk-summary-list__value" th:text="${user.lastName}"></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="services">
                        <h2 class="govuk-heading-m">Services</h2>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Services
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link"
                                            th:href="@{'/admin/users/edit/' + ${user.id} + '/apps'}">Edit</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row" th:each="role : ${userAppRoles}">
                                        <dt class="govuk-summary-list__key" th:text="${role.app.name}"></dt>
                                        <dd class="govuk-summary-list__value" th:text="${role.name}"></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="offices">
                        <h2 class="govuk-heading-m">Offices</h2>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Offices
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link"
                                            th:href="@{'/admin/users/edit/' + ${user.id} + '/offices'}">Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row" th:each="office : ${offices}">
                                    <dt class="govuk-summary-list__key" th:text="${office.name}"></dt>
                                    <dd class="govuk-summary-list__value" th:text="${office.address}"></dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>