<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'users'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
</head>

<body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/home">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/admin/users">Users</a>
            </li>
        </ol>
    </nav>
    <main class="govuk-main-wrapper" id="main-content" th:if="${#authentication.isAuthenticated()}">
        <div th:if="${successMessage}" role="region" class="moj-alert moj-alert--success moj-alert--with-heading"
            aria-label="success: User added successfully" data-module="moj-alert">
            <div>
                <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 30 30" height="30" width="30">
                    <path
                        d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z"
                        fill="currentColor" />
                </svg>
            </div>
            <div class="moj-alert__content">
                <h2 class="moj-alert__heading">Success</h2>
                <p th:text="${successMessage}"></p>
            </div>

            <div class="moj-alert__action">
                <button class="moj-alert__dismiss" hidden>Dismiss</button>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="moj-page-header-actions">
                    <div class="moj-page-header-actions__title">
                        <h1 class="govuk-heading-l">Manage user access</h1>
                    </div>
                    <form class="form" method="post" action="">
                        <div class="moj-page-header-actions__actions">
                            <div class="moj-button-group moj-button-group--inline">
                                <button type="button" class="govuk-button govuk-button--secondary"
                                    data-module="govuk-button" data-govuk-button-init=""
                                    onclick="location.href='/admin/user/create/details';">
                                    Create a new user
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <form method="get" th:action="@{/admin/users}" role="search">
                            <div class="moj-search">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--m moj-search__label govuk-!-font-weight-bold"
                                        for="search">
                                        Search users
                                        <div id="offices-hint" class="govuk-hint govuk-!-margin-top-1">
                                            You can search by name or email
                                        </div>
                                    </label>
                                    <input class="govuk-input moj-search__input" id="search" name="search" type="search"
                                        th:value="${param.search}" autocomplete="off">
                                </div>
                                <button type="submit" class="govuk-button moj-search__button"
                                    data-module="govuk-button">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <form class="govuk-form" role="form">
                    <div class="govuk-form-group govuk-!-margin-top-3">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="show-firm-admins" name="show-firm-admins"
                                        type="checkbox" value="true" onchange="handleShowFirmAdmins(this)"
                                        th:checked="${param.showFirmAdmins != null}">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                        Show firm admins
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <script>
                        function handleShowFirmAdmins(checkbox) {
                            const url = new URL(window.location.href);
                            if (checkbox.checked) {
                                url.searchParams.set('showFirmAdmins', 'true');
                            } else {
                                url.searchParams.delete('showFirmAdmins');
                            }
                            window.location.href = url.toString();
                        }
                    </script>
                </form>
                <form class="govuk-form-group govuk-!-margin-top-3">
                    <table class="govuk-table" data-module="moj-sortable-table" data-id-prefix="users-">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button"
                                        data-index="0">Name</button></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button"
                                        data-index="1">Email</button></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button"
                                        data-index="2">Last logged in</button></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button"
                                        data-index="3">Status</button></th>
                            </tr>
                        </thead>

                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" th:each="user : ${users}">
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" th:href="@{/admin/users/manage/{id}(id=${user.id})}"
                                        th:text="${user.fullName}"></a>
                                </td>
                                <td class="govuk-table__cell" th:text="${user.email}"></td>
                                <td class="govuk-table__cell">
                                    <span style="white-space: nowrap;" th:text="${user.lastLoggedIn}"></span>
                                </td>
                                <td class="govuk-table__cell"> <span class="moj-badge moj-badge--green">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <nav class="moj-pagination" aria-label="Pagination navigation">
                    <ul class="moj-pagination__list">
                        <li class="moj-pagination__item  moj-pagination__item--prev" th:if="${page > 1}">
                            <a class="moj-pagination__link"
                                th:href="@{/admin/users(size=${requestedPageSize}, page=${page - 1}, search=${search})}">Previous<span
                                    class="govuk-visually-hidden">
                                    page</span></a>
                        </li>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages ?: 1)}">
                            <!-- <li class="moj-pagination__item moj-pagination__item--active"> -->
                            <li class="moj-pagination__item">
                                <a class="moj-pagination__link"
                                    th:href="@{/admin/users(size=${requestedPageSize}, page=${i}, search=${search})}"
                                    th:aria-label="'Page ' + ${i} + ' of ' + ${totalPages}"
                                    th:aria-current="${i == page ? 'page' : null}" th:text="${i}"></a>
                            </li>
                        </th:block>
                        <li class="moj-pagination__item  moj-pagination__item--next" th:if="${page < totalPages}">
                            <a class="moj-pagination__link"
                                th:href="@{/admin/users(size=${requestedPageSize}, page=${page + 1}, search=${search})}">Next<span
                                    class="govuk-visually-hidden">
                                    page</span></a>
                        </li>
                    </ul>
                    <p class="moj-pagination__results">Showing <b
                            th:text="${((requestedPageSize ?: 10) * ((page ?: 1) - 1)) + 1}"></b>
                        to <b th:text="${((requestedPageSize ?: 10) * ((page ?: 1) - 1)) + (actualPageSize ?: 10)}"></b>
                        of <b>
                            <b th:text="${totalUsers}"></b>
                        </b> results</p>
                </nav>
                <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
            </div>
        </div>
    </main>
</body>

</html>