<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'reassign-firm-check-answers'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Check your answers</title>
</head>

<body>
    <nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" th:href="@{'/admin/users/reassign-firm/' + ${user.id} + '/reason?selectedFirmId=' + ${selectedFirmId} + '&selectedFirmName=' + ${selectedFirmName}}">Back</a>
            </li>
        </ol>
    </nav>
    
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
                <div th:if="${errorMessage}" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <span th:text="${errorMessage}"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <h1 class="govuk-heading-l">Check your answers</h1>

                <!-- Warning about clearing roles and offices -->
                <div th:if="${not #lists.isEmpty(user.appRoles) or not #lists.isEmpty(user.offices)}" class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        <span th:switch="${true}">
                            <span th:case="${not #lists.isEmpty(user.appRoles) and not #lists.isEmpty(user.offices)}">
                                This user has active roles and office assignments that will be removed when reassigned to the new firm.
                            </span>
                            <span th:case="${not #lists.isEmpty(user.appRoles)}">
                                This user has active roles that will be removed when reassigned to the new firm.
                            </span>
                            <span th:case="${not #lists.isEmpty(user.offices)}">
                                This user has active office assignments that will be removed when reassigned to the new firm.
                            </span>
                        </span>
                    </strong>
                </div>

                <dl class="govuk-summary-list">
                    <!-- Current Firm -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Current Firm
                        </dt>
                        <dd class="govuk-summary-list__value" th:text="${user.firm != null ? user.firm.name : 'No firm assigned'}">
                            Current Firm Name
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>

                    <!-- New Firm Name -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            New Firm name
                        </dt>
                        <dd class="govuk-summary-list__value" th:text="${selectedFirmName}">
                            New Firm Name
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" th:href="@{'/admin/users/reassign-firm/' + ${user.id} + '?selectedFirmId=' + ${selectedFirmId} + '&selectedFirmName=' + ${selectedFirmName} + '&reason=' + ${#strings.escapeXml(reason)}}">
                                Change<span class="govuk-visually-hidden"> new firm name</span>
                            </a>
                        </dd>
                    </div>

                    <!-- Reason for change -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reason for change
                        </dt>
                        <dd class="govuk-summary-list__value" th:text="${reason}">
                            Reason for change
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" th:href="@{'/admin/users/reassign-firm/' + ${user.id} + '/reason?selectedFirmId=' + ${selectedFirmId} + '&selectedFirmName=' + ${selectedFirmName} + '&reason=' + ${#strings.escapeXml(reason)}}">
                                Change<span class="govuk-visually-hidden"> reason for change</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <form method="post" th:action="@{'/admin/users/reassign-firm/' + ${user.id} + '/confirm'}">
                    <!-- Hidden fields to carry forward all the data -->
                    <input type="hidden" name="selectedFirmId" th:value="${selectedFirmId}" />
                    <input type="hidden" name="selectedFirmName" th:value="${selectedFirmName}" />
                    <input type="hidden" name="reason" th:value="${reason}" />
                    
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Confirm
                        </button>
                        <a class="govuk-link" th:href="@{'/admin/users/manage/' + ${user.id}}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
