<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'delete-firm-profile'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Confirm you want to remove ' + userProfile.firm.name}">Confirm you want to remove</title>
</head>
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div th:if="${errorMessage}">
        <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
             aria-describedby="error-summary-description" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body" id="error-summary-description">
                <ul class="govuk-list govuk-error-summary__list">
                    <li th:text="${errorMessage}"></li>
                </ul>
            </div>
        </div>
    </div>

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <h1 class="govuk-heading-l" th:text="'Confirm you want to remove ' + ${userProfile.firm.name} + '.....'">
        Confirm you want to remove.....
    </h1>

    <p class="govuk-body govuk-hint" th:text="'From ' + ${user.fullName}">Hint hint</p>

    <form th:action="@{'/admin/multi-firm/user/delete-profile/' + ${userProfile.id}}" method="post" novalidate>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="confirm-yes" name="confirm" type="radio" value="yes" required>
                        <label class="govuk-label govuk-radios__label" for="confirm-yes">
                            Yes, I want to delete
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="confirm-no" name="confirm" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="confirm-no">
                            No, I do not want to delete
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="moj-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
            <a class="govuk-link" href="javascript:history.back()">Cancel</a>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</main>
</body>
</html>
