<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'delete-firm-profile'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Are you sure you want to revoke access for ' + user.fullName + '?'}">Are you sure you want to revoke access?</title>
</head>
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div th:if="${errorMessage}">
        <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
             aria-describedby="error-summary-description" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body" id="error-summary-description">
                <ul class="govuk-list govuk-error-summary__list">
                    <li th:text="${errorMessage}"></li>
                </ul>
            </div>
        </div>
    </div>

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <h1 class="govuk-heading-l" th:text="'Are you sure you want to revoke access for ' + ${user.fullName} + '?'">
        Are you sure you want to revoke access for Emily Smith?
    </h1>

    <div th:if="${isLastProfile}" class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You cannot remove this firm access because <span th:text="${user.fullName}">this user</span> must have access to at least one firm. This is their only firm profile.
        </strong>
    </div>

    <p class="govuk-body">This will remove the user's access to your firm in SiLAS right away but will not delete their account.</p>

    <form th:action="@{'/admin/multi-firm/user/delete-profile/' + ${userProfile.id}}" method="post" novalidate>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="confirm-yes" name="confirm" type="radio" value="yes" required th:disabled="${isLastProfile}">
                        <label class="govuk-label govuk-radios__label" for="confirm-yes">
                            Yes, I want to revoke access
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="confirm-no" name="confirm" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="confirm-no">
                            No, I do not want to revoke access
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" th:disabled="${isLastProfile}">
                Confirm
            </button>
            <a class="govuk-button govuk-button--secondary" href="javascript:history.back()" role="button" draggable="false" data-module="govuk-button">
                Cancel
            </a>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</main>
</body>
</html>
