apiVersion: apps/v1
kind: Deployment
metadata:
  name: laa-landing-page
  labels:
    app: laa-landing-page
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: laa-landing-page
  template:
    metadata:
      labels:
        app: laa-landing-page
    spec:
      serviceAccountName: irsa-laa-landing-page-${ENV_NAME}
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
      containers:
        - name: laa-landing-page
          image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG}
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "1200Mi"
              cpu: "300m"
            limits:
              memory: "3000Mi"
              cpu: "1"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            failureThreshold: 15
            periodSeconds: 10
          env:
            - name: SENTRY_SAMPLE_RATE
              value: "${SENTRY_SAMPLE_RATE}"
            - name: JWT_URL
              value: "${JWT_URL}"
            - name: SPRING_PROFILE
              value: "${SPRING_PROFILE}"
            - name: LOG_LEVEL
              value: "${LOG_LEVEL}"
            - name: POPULATE_TEST_DATA
              value: "${POPULATE_TEST_DATA}"
            - name: TEST_DATA_ADMIN_PRINCIPALS
              value: "${TEST_DATA_ADMIN_PRINCIPALS}"
            - name: TEST_DATA_NON_ADMIN_PRINCIPALS
              value: "${TEST_DATA_NON_ADMIN_PRINCIPALS}"
            - name: TEST_DATA_INTERNAL_PRINCIPALS
              value: "${TEST_DATA_INTERNAL_PRINCIPALS}"
            - name: APP_CIVIL_APPLY_NAME
              value: "${APP_CIVIL_APPLY_NAME}"
            - name: APP_CIVIL_APPLY_DETAILS
              value: "${APP_CIVIL_APPLY_DETAILS}"
            - name: APP_CIVIL_APPLY_URL
              value: "${APP_CIVIL_APPLY_URL}"
            - name: APP_CRIME_APPLY_NAME
              value: "${APP_CRIME_APPLY_NAME}"
            - name: APP_CRIME_APPLY_DETAILS
              value: "${APP_CRIME_APPLY_DETAILS}"
            - name: APP_CRIME_APPLY_URL
              value: "${APP_CRIME_APPLY_URL}"
            - name: APP_PUI_NAME
              value: "${APP_PUI_NAME}"
            - name: APP_PUI_DETAILS
              value: "${APP_PUI_DETAILS}"
            - name: APP_PUI_URL
              value: "${APP_PUI_URL}"
            - name: APP_SUBMIT_CRIME_FORM_NAME
              value: "${APP_SUBMIT_CRIME_FORM_NAME}"
            - name: APP_SUBMIT_CRIME_FORM_DETAILS
              value: "${APP_SUBMIT_CRIME_FORM_DETAILS}"
            - name: APP_SUBMIT_CRIME_FORM_URL
              value: "${APP_SUBMIT_CRIME_FORM_URL}"
            - name: APP_CCMS_ACCOUNT_LINK_NAME
              value: "${APP_CCMS_ACCOUNT_LINK_NAME}"
            - name: APP_CCMS_ACCOUNT_LINK_DETAILS
              value: "${APP_CCMS_ACCOUNT_LINK_DETAILS}"
            - name: APP_CCMS_ACCOUNT_LINK_URL
              value: "${APP_CCMS_ACCOUNT_LINK_URL}"
            - name: APP_SUBMIT_A_BULK_CLAIM_NAME
              value: "${APP_SUBMIT_A_BULK_CLAIM_NAME}"
            - name: APP_SUBMIT_A_BULK_CLAIM_DETAILS
              value: "${APP_SUBMIT_A_BULK_CLAIM_DETAILS}"
            - name: APP_SUBMIT_A_BULK_CLAIM_URL
              value: "${APP_SUBMIT_A_BULK_CLAIM_URL}"
            - name: APP_AMEND_A_CLAIM_NAME
              value: "${APP_AMEND_A_CLAIM_NAME}"
            - name: APP_AMEND_A_CLAIM_DETAILS
              value: "${APP_AMEND_A_CLAIM_DETAILS}"
            - name: APP_AMEND_A_CLAIM_URL
              value: "${APP_AMEND_A_CLAIM_URL}"
            - name: APP_CIVIL_DECIDE_NAME
              value: "${APP_CIVIL_DECIDE_NAME}"
            - name: APP_CIVIL_DECIDE_DETAILS
              value: "${APP_CIVIL_DECIDE_DETAILS}"
            - name: APP_CIVIL_DECIDE_URL
              value: "${APP_CIVIL_DECIDE_URL}"
            - name: APP_CIVIL_CLAIM_FOR_PAYMENT_NAME
              value: "${APP_CIVIL_CLAIM_FOR_PAYMENT_NAME}"
            - name: APP_CIVIL_CLAIM_FOR_PAYMENT_DETAILS
              value: "${APP_CIVIL_CLAIM_FOR_PAYMENT_DETAILS}"
            - name: APP_CIVIL_CLAIM_FOR_PAYMENT_URL
              value: "${APP_CIVIL_CLAIM_FOR_PAYMENT_URL}"
            - name: TECH_SERVICES_LAA_BUSINESS_UNIT
              value: "${TECH_SERVICES_LAA_BUSINESS_UNIT}"
            - name: TECH_SERVICES_AZURE_SCOPE
              value: "${TECH_SERVICES_AZURE_SCOPE}"
            - name: TECH_SERVICES_AZURE_CLIENT_ID
              value: "${TECH_SERVICES_AZURE_CLIENT_ID}"
            - name: TECH_SERVICES_AZURE_CLIENT_SECRET
              value: "${TECH_SERVICES_AZURE_CLIENT_SECRET}"
            - name: TECH_SERVICES_TENANT_ID
              value: "${TECH_SERVICES_TENANT_ID}"
            - name: TECH_SERVICES_VERIFICATION_METHOD
              value: "${TECH_SERVICES_VERIFICATION_METHOD}"
            - name: APP_DEFAULT_USER_ACC_SEC_GROUP
              value: "${APP_DEFAULT_USER_ACC_SEC_GROUP}"
            - name: TECH_SERVICES_BASE_URL
              value: "${TECH_SERVICES_BASE_URL}"
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: laa-landing-page-azure-client-id-k8s
                  key: AZURE_CLIENT_ID
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: laa-landing-page-azure-client-secret-k8s
                  key: AZURE_CLIENT_SECRET
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: laa-landing-page-azure-tenant-secret-k8s
                  key: AZURE_TENANT_ID
            - name: BASE_URL
              valueFrom:
                secretKeyRef:
                  name: laa-landing-page-base-url-k8s
                  key: BASE_URL
            - name: GOV_NOTIFY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: laa-landing-page-gov-notify-api-key-k8s
                  key: GOV_NOTIFY_API_KEY
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rds-postgresql-instance-output
                  key: database_username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rds-postgresql-instance-output
                  key: database_password
            - name: POSTGRES_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: rds-postgresql-instance-output
                  key: database_name
            - name: POSTGRES_DB_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: rds-postgresql-instance-output
                  key: rds_instance_address
            - name: POSTGRES_DB_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: rds-postgresql-instance-output
                  key: rds_instance_endpoint
            - name: POLLING_ENABLED
              value: "${POLLING_ENABLED}"
            - name: POLLING_INTERVAL
              value: "${POLLING_INTERVAL}"
            - name: POLLING_GROUP_ID
              value: "${POLLING_GROUP_ID}"
            - name: FIRM_CACHE_CLEAR_SCHEDULE
              value: "${FIRM_CACHE_CLEAR_SCHEDULE}"
            - name: TECH_SERVICES_CLEAR_CACHE_INTERVAL
              value: "${TECH_SERVICES_CLEAR_CACHE_INTERVAL}"
            - name: TECH_SERVICES_REQ_READ_TIMEOUT
              value: "${TECH_SERVICES_REQ_READ_TIMEOUT}"
            - name: TECH_SERVICES_REQ_CONNECT_TIMEOUT
              value: "${TECH_SERVICES_REQ_CONNECT_TIMEOUT}"
            - name: SENTRY_ENVIRONMENT
              value: "${SENTRY_ENVIRONMENT}"
            - name: SENTRY_ENABLED
              value: "${SENTRY_ENABLED}"
            - name: CCMS_USER_MANAGEMENT_API_BASE_URL
              value: "${CCMS_USER_MANAGEMENT_API_BASE_URL}"
            - name: CCMS_USER_MANAGEMENT_API_KEY
              value: "${CCMS_USER_MANAGEMENT_API_KEY}"
            - name: CCMS_USER_API_SQS_ARN
              value: "${CCMS_USER_API_SQS_ARN}"
            - name: ENABLE_DISTRIBUTED_DB_LOCKING
              value: "${ENABLE_DISTRIBUTED_DB_LOCKING}"
            - name: DISTRIBUTED_DB_LOCKING_PERIOD
              value: "${DISTRIBUTED_DB_LOCKING_PERIOD}"
            - name: FEATURE_FLAG_ENABLE_RESEND_VER_CODE
              value: "${FEATURE_FLAG_ENABLE_RESEND_VER_CODE}"
            - name: SPRING_SESSION_JDBC_ENABLED
              value: "${SPRING_SESSION_JDBC_ENABLED}"