name: Gitleaks secret scan

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
  push:
  schedule:
    - cron: "53 1 * * *" # run once a day at 01:53 UTC

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Free organisation license key, another can be obtained at https://gitleaks.io/
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}