name: ZAP DEV DAST Daily Baseline Scan

on:
  schedule:
    - cron: '0 8 * * 1-5'

jobs:
  zap_scan:
    name: Run ZAP DEV DAST Daily Baseline Scan Against Live App
    runs-on: ubuntu-latest

    steps:
      - name: Run ZAP Daily Baseline Scan
        id: baseline_run
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'https://dev.your-legal-aid-services.service.justice.gov.uk/'
          cmd_options: '-a -j'
          fail_action: false
          issue_title: ZAP Scan Baseline Report - dev
      - id: extract-summary
        uses: sean0x42/markdown-extract@v2.1.0
        with:
          file: report_md.md
          pattern: 'Summary of Alerts'
          case-sensitive: 'true'
      - name: Parse summary
        run: |
          #!/bin/bash -xe
          high_value=$(echo "$ZAP_SUMMARY" | grep "| High |" | awk -F'|' '{print $3}' | xargs)
          medium_value=$(echo "$ZAP_SUMMARY" | grep "| Medium |" | awk -F'|' '{print $3}' | xargs)
          low_value=$(echo "$ZAP_SUMMARY" | grep "| Low |" | awk -F'|' '{print $3}' | xargs)
          info_value=$(echo "$ZAP_SUMMARY" | grep "| Informational |" | awk -F'|' '{print $3}' | xargs)
          echo "ZAP_HIGH=${high_value}" >> "$GITHUB_ENV"
          echo "ZAP_MEDIUM=${medium_value}" >> "$GITHUB_ENV"
          echo "ZAP_LOW=${low_value}" >> "$GITHUB_ENV"
          echo "ZAP_INFO=${info_value}" >> "$GITHUB_ENV"

          if [[ $high_value -gt 0 ]]; then
              echo "High alerts, notification should be sent"
              echo "ZAP_SHOULD_NOTIFY='true'" >> "$GITHUB_ENV"
          else
              # For daily baseline runs, send summary on Monday if there are med/low
              if [ "$(date +%A)" = "Monday" ]; then
                  echo "Today is Monday"
                  if [[ $medium_value -gt 0 || $low_value -gt 0 ]]; then
                      echo "Medium and/or low alerts on Monday, notification should be sent"
                      echo "ZAP_SHOULD_NOTIFY='true'" >> "$GITHUB_ENV"
                  fi
              fi
          else
              echo "ZAP_SHOULD_NOTIFY='false'" >> "$GITHUB_ENV"
          fi
        env:
          ZAP_SUMMARY: ${{ steps.extract-summary.outputs.markdown }}
      - name: Post to Slack
        if: env.ZAP_SHOULD_NOTIFY == 'true'
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.ZAP_SLACK_WEBHOOK_URL }}  # TODO - set up webhook, add env var
          webhook-type: incoming-webhook
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "ZAP Daily Scan Report: DEV Environment"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Scan Summary:*"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rotating_light: *HIGH:* ${{ env.ZAP_HIGH }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":sign-warning: *MEDIUM:* ${{ env.ZAP_MEDIUM }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":orange_heart: *LOW:* ${{ env.ZAP_LOW }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":yellow_heart: *INFORMATIONAL:* ${{ env.ZAP_INFO }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Please review the detailed scan results and take necessary actions. \n\n View Details on GitHub: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }